<mat-toolbar color="primary">
  <div class="container">
    <a (click)="uploadFiles()"> Click here to Upload files </a>
  </div>
</mat-toolbar>
<div class="container mt-5">
  <div class="row">

    <div class="col-12">
      <pre>Configuration - fileAccept: '*', fileLimit: 2</pre>
      <input-file [(ngModel)]="gallery" fileLimit="2" placeholder="Drop files below!"></input-file>
    </div>

    <div class="col-12">
      <pre>Configuration - fileAccept: 'image/*', fileLimit: 1</pre>
      <input-file [(ngModel)]="single" fileAccept="image/*" fileLimit="1" placeholder="Picture">
      </input-file>
    </div>



  </div>
</div>